/*
  Primary color
    #ED3A34
*/

body{
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
  font-family: 'Droid Sans', sans-serif;
}

.main-space{
  padding-top: 25px;
  padding-bottom: 15px;
}

.lg-text p{
  font-size: 1.3em;
  line-height: 1.8em;
}

.features p{
  padding-right: 10%;
  padding-left: 10%;
}

.navbar-brand{
  font-family: 'Droid Sans', sans-serif;
}

.features{
  text-align: center;
}

.calling{
  text-align: center;
  padding: 60px 0px;
}


.featurette-divider {
  margin: 25px 0px;
}

.main{
  padding-top: 150px;
  padding-bottom: 150px;
}

.sign-in{
  color: azure !important;
}

.texto{
  font-size: 1.2em !important;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar{
  padding: 15px 0px;
}

.nav>li>a{
  padding: 15px 16px;
}

.fondo1{
  background: rgba(255, 137, 0, 0.33);
}


.espacio25 {
  margin: 25px 0px;
}

.btn-primary{
  background-color: #fd3a34;
  border-color: #ed3a34;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #d93832;
  border-color: #d3443f;
}

footer{
  padding-top: 20px;
  padding-bottom: 15px;
}

