.align-center{
  text-align: center;
}
.btn{
  width: 120px;
}
.espacio25{
  margin-top: 25px;
  margin-bottom: 25px;
}
.myChart {
  width: 100%;
  height: 200px;
}
.narrow{
  width: 50% !important;
}
.timeSpace{
  padding: 2px;
}
.custom-padding{
  padding: 8px;
}



